/*Background/Back-End Stuff goes here*/
body {
  background-attachment: fixed;
  background-image: url("assets/sprites/tiles_s.png");
  background-repeat: repeat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  margin: auto;
  max-width: 960px;
}


/* Quote*/
.quote {
  color: #000052;
}

/* Navigation Bar*/
.navbar {
  color: #111111;
  background-color: #627568;
  border-radius: 4px;
  max-width: 960px;
}

/* Navigation Bar's Text*/
.navbar a {
  display: inline-block;
  color: #303030;
  font-size: 16px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
}

/* Navigation Bar's Text When Hovered*/
.navbar a:hover {
  color: #dbdbdb;
}
